#banner{
	width: 100%;
	height: 30px;
}

#menu{
	width: 100%;
	height: 50px;
	background-color: #00ffab;
}

#content{
	width: 100%;
	min-height: 400px;
}

#footer{
	width: 100%;
	clear: both;
	height: 50px;
	background-color: #000;
}

#right{
	width: 35%;
	float: right;
	background-color: #ccc;
	min-height: 400px;
}

#left{
	width: 65%;
	float: left;
	background-color: #ff0000;
	min-height: 400px;
}

#left1{
	width: 100%;
	height: 50%;
	background-color: #ffff00;
}

#left2{	
	width: 100%;
	height: 50%;
	background-color: #00ff00;

}